{{ define "main" }}
<div class="container" style="font-size:
12px;text-align: center;" id="projects">
    <div class="row">
    {{ range .Pages }}
    <div class="col-lg-6" style="padding-top: 5%;">
    <div class="card" style="margin: 5%; height: 80%">
        <div class="card-body">
          <h5 class="card-title">{{.Title}}</h5>
          <p class="card-text">{{.Description}}</p>
          <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal"
            data-target=#{{ replace .Title " " ""}} style="margin: 5%;">
                Read More
          </button>
        </div>
      </div>
  
    <div class="modal fade" id={{replace .Title " " ""}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                id="exampleModalLongTitle">{{.Title}}</h5>
            </div>
            <div class="modal-body" style="text-align: left">
             {{ .Content}}
              
            </div>
            <div class="modal-footer">
                {{ range $key, $value := .Params.projectLinks }}
                  <a role="button" class="btn
                  btn-outline-primary" href="{{$value}}" target="_blank">{{ $key }}</a>
                {{ end }}
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
        </div>
    </div>
    </div>
  {{end}}
  </div>
 </div>
 <section class="blueish">
  <div class="container" id="about">
    <div class="text-center" style="padding-top: 25px;">
        {{ range .Site.Menus.bot }}
            <a href="{{ .URL}}"title="{{.Title}}" target="blank"> <i
            class="{{.Pre}}"
            data-toggle="tooltip" data-placement="top"
            title="{{.Name}}"></i></a>
        {{ end }}
        {{ range .Site.Menus.about }}
            <a href="{{ .URL}}"title="{{.Title}}" target="_blank"> <i
            class="{{.Pre}}"
            data-toggle="tooltip" data-placement="top"
            title="{{.Name}}"></i></a>
        {{ end }}
    </div>
</div>
 </section>

{{ end }}
