<footer class="footer mt-5">
    <div class="text-center">
        {{ now.Format "2006" }} &#169 {{ .Site.Title }}
    </div>
    <style>
        .footer {
            position: fixed;
            top: 140px;
            right: {{.Site.Params.footerOffset}}px;
            transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
        }
    </style>
</footer>

