{{ define "main" }}
<section class="blueish">
<div class="container" id="publications" >
    <div class="row">
        <div class="col" style="text-align: left;">
            <span>Research areas: <br>
                {{ range $key, $val := .Params.researchAreas }}
                    <a class="text-capitalize" href="{{ $val }}">{{ $key }}</a>
                {{ end }}
               
            </span>
        </div>
        {{ if .Site.Params.scholarStats}}
            <div class="col" style="text-align: right;">
                <span style="font-size: smaller;color: rgba(211, 211, 211, 0.6);">
                    [ Stats Updated Daily From <a 
                    href="https://scholar.google.com/citations?user={{.Site.Params.googleScholar}}&hl=en"
                    target="_blank"> 
                    Google Scholar</a> ]
                </span> <br>
                    Citations: {{ .Site.Data.citation_stats.total }} | 
                    h-Index: {{ .Site.Data.citation_stats.h_index }} |
                    i10-Index: {{ .Site.Data.citation_stats.i10_index }} 
            </div>
        {{ end }}
    </div>
    {{ $year := 1}}
    {{ range .Pages.ByDate.Reverse }}
        
        {{ $pubYear := .Date.Format "2006" }}
        {{ if ne $year $pubYear }}
            <hr class="year">
            <h4 class="year">{{ $pubYear }}</h4>
            
            {{ $year = $pubYear }}
        {{ end }}
        
        {{ if isset .Params "type" }} 
            <span class="type">[{{ .Params.type }}] </span>
        {{ end }}
        <div class="row">
                {{ if isset .Params "link" }}
                    {{ if isset .Params "doi" }}
                        <div class="col-auto">
                            <a href="{{ .Params.link }}" target="_blank">{{.Title | markdownify}}</a> 
                        </div>
                    {{ else }}
                        <div class="col-auto">
                            <a href="{{ .Params.link }}" target="_blank">{{.Title | markdownify}}</a> 
                        </div>
                    {{ end }}
                    {{ if .Site.Params.plumxStats }}
                        <div class="col-auto" >
                            <div style="background: white; border-radius: 10px;">
                            <a href="https://plu.mx/plum/a/?doi={{.Params.doi }}" data-popup="right"
                            data-size="tiny" class="plumx-plum-print-popup
                            plum-bigben-theme" data-site="plum" data-hide-when-empty="true"></a>
                            </div>
                        </div>
                    {{ end }}
                {{ else }}
                    <span>{{ .Title | markdownify }}</span>
                {{end}}
        </div>
        <div>
        {{ $first := true }}
        {{ range (.GetTerms "authors") }}
            {{ if $first }}
                {{ if eq .LinkTitle .Site.Title }} 
                    <b>{{ .LinkTitle }}</b>
                {{ else }}
                    {{ .LinkTitle }} 
                {{ end }}
                {{ $first = false }}
            {{ else }}
                {{ if eq .LinkTitle .Site.Title }} 
                    | <b>{{ .LinkTitle }}</b>
                {{ else }}
                    | {{ .LinkTitle }} 
                {{ end }}
            {{ end }}
        {{ end }}
        <br>

        <em>{{ .Params.Journal }} {{ $pubYear }}.</em>
        {{ if isset .Params "pmid" }}
            <span>
                PMID: {{ .Params.PMID }}.
                
            </span>
        {{ end }}
        </div>
        
        
        
        <br><br>
    {{end}}
    
</div>
<script type="text/javascript" src="//cdn.plu.mx/widget-popup.js"></script>
<style>
    .footer {
        color: white;
    }
</style>
</section>
{{ end }}