{{ define "main" }}
<section class="blueish">
<div class="container" id="about" >

    {{ if .Site.Params.scholarStats}}
        <div style="text-align: right;">
            <span style="font-size: smaller;color: rgba(211, 211, 211, 0.6);">
                [ Stats Updated Daily From <a 
                href="https://scholar.google.com/citations?user={{.Site.Params.googleScholar}}&hl=en"
                target="_blank" style="color: rgba(211, 211, 211, .8);"> 
                Google Scholar</a> ]
            </span> <br>
                Citations: {{ .Site.Data.citation_stats.total }} | 
                h-Index: {{ .Site.Data.citation_stats.h_index }} |
                i10-Index: {{ .Site.Data.citation_stats.i10_index }} 
        </div>
    {{ end }}
    {{ $year := 1}}
    {{ range .Pages.ByDate.Reverse }}
        {{ $pubYear := .Date.Format "2006" }}
        {{ if ne $year $pubYear }}
            <h5 class="year">{{ $pubYear }}</h5>
            {{ $year = $pubYear }}
        {{ end }}
            {{ if isset .Params "type" }} 
                <span style="position: relative;right: 12px;">[{{ .Params.type }}] </span>
            {{ end }}
        <div class="row">
                {{ if isset .Params "link" }}
                    {{ if isset .Params "doi" }}
                        <div class="col-auto">
                            <a href="https://doi.org/{{ .Params.doi}}" target="_blank">{{.Title | markdownify}}</a> 
                        </div>
                    {{ else }}
                        <div class="col-auto">
                            <a href="{{ .Params.link }}" target="_blank">{{.Title | markdownify}}</a> 
                        </div>
                    {{ end }}

                    <div class="col-auto" >
                        <div style="background: white; border-radius: 10px;">
                        <a href="https://plu.mx/plum/a/?doi={{.Params.doi }}" data-popup="right"
                        data-size="tiny" class="plumx-plum-print-popup
                        plum-bigben-theme" data-site="plum" data-hide-when-empty="true"></a>
                        </div>
                    </div>
                {{ else }}
                    <span>{{ .Title | markdownify }}</span>
                {{end}}
        </div>
        <div>
        {{ range (.GetTerms "authors") }}
            {{ if eq .LinkTitle .Site.Title }} 
                <b>{{ .LinkTitle }}</b> |
            {{ else }}
                {{ .LinkTitle }} |
            {{ end }}
        {{ end }}
        <br>

        <em>{{ .Params.Journal }} {{ $pubYear }}.</em>
        {{ if isset .Params "pmid" }}
            <span>
                PMID: {{ .Params.PMID }}.
                
            </span>
        {{ end }}
        </div>
        
        
        
        <br><br>
    {{end}}
    
</div>
<script type="text/javascript" src="//cdn.plu.mx/widget-popup.js"></script>
<style>
    .footer {
        color: white;
    }
</style>
</section>
{{ end }}